<ion-header>
    <ion-navbar>
        <ion-title>Cuentas</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let cuenta of cuentas; trackBy: trackId">
            <button ion-item (click)="open(cuenta)">
                <h2>{{cuenta.nombre}}</h2>
                <h2>{{cuenta.cbu}}</h2>
                <h2>{{cuenta.aliasCbu}}</h2>
            </button>
            <ion-item-options>
                <button ion-button color="danger" (click)="delete(cuenta)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!cuentas?.length">
        No Cuentas found.
    </ion-item>
</ion-content>
